.page {
  text-align: center;
}
.title {
  color: black;
  text-align: center;
  border: 5px solid lightgray;
  border-radius: 10px;
  margin: 20px 0px 20px;
}
.center {
  color: black;
  text-align: center;
  width: 500px;
}
.spinner {
  position: fixed;
  top: 200px;
}
.saving {
  position: fixed;
  top: 200px;
  background-color: cornflowerblue;
}
.error {
  color:red;
}
.deletebutton {
  color:red;
  background-color: white;
  border-width: 0px;
}
.deletebutton:hover, .deletedbutton:focus {
  color:red;
  background-color: lightgrey;
  border-width: 0px;
}
.body {
  margin: 0px 20px;
  text-align: left;
}
.indented {
  margin: 0px 30px;
}
